# IDE-specific files
.vscode/
.idea/
*.swp
*.patch
*.code-workspace

# OS-specific
Thumbs.db
.DS_Store

# Local configuration
.env

# Database files
postgres_data/
TourPlanner/user_images/*
!TourPlanner/user_images/.gitkeep